@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@300;400;500&family=Nanum+Gothic:wght@400;700;800&display=swap');
h2, p{
  font-family:"IBM Plex Sans KR";
}
p{
  text-align: center;
  font-weight: 500;
}
h3{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:"IBM Plex Sans KR";
}
pre{
  font-size: 18px;
  width: auto;
  white-space: pre-wrap;
  word-break:keep-all;
  font-family: 'IBM Plex Sans KR';
}
.사진 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  gap: 10px;
}


@media only screen and (min-width: 600px){
  pre{
    font-size: 19px;
  }
  .사진 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: 600px;
    margin: auto;
  }
}

@media only screen and (min-width: 800px){
  pre{
    font-size: 20px;
  }
  .사진 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: 700px;
    margin: auto;
  }
}